.task-status-btn {
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    font-size: 15px;
    min-width: 100px;
    background: white;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
}

.task-status-drop-content {
    background: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 100px;
}

.task-status {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}

.task-status:hover {
    background: #f0f0f0;
    outline: none;
}